<style>
body {
  background-color: black;
}
  
form {
  background-color: #171717;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #6CD829;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #6CD829;
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #DBDBDB;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

div {
  background-color: #303030;
  width: "100%";
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center; 
}
</style>
